@font-face {
  font-family: "PlaypenSans";
  src: url("../font/PlaypenSans.ttf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --section-background-color: #dabcaf;
  --separation-color: rgb(146, 2, 2);
  font-family: "PlaypenSans";
  background-color: black;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  border-top: var(--separation-color) solid 7.5px;
  border-bottom: var(--separation-color) solid 7.5px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

section:nth-of-type(odd) .container {
  box-shadow: 12px 6px 8px rgba(0, 0, 0, 0.8);
}

section:nth-of-type(even) .container {
  box-shadow: -12px 6px 8px rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
  display: flex;
}

section ul {
  margin: 0px 20px 20px;
  flex-direction: column;
}

section ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  width: -moz-fit-content;
}

.container {
  color: rgb(0, 0, 0);
  background-color: var(--section-background-color);
  border-radius: 20px;
  padding: 15px;
  margin: 2%;
  width: 65%;
  height: fit-content;
  align-self: center;
}

.rounded {
  border: 5px solid var(--separation-color);
  border-radius: 5px;
  margin: 10px 0px;
}

.intitule {
  font-size: 1.5em;
}

.date {
  padding-left: 15px;
  font-size: 1.2em;
  color: rgb(146, 2, 2);
}

.description {
  margin-left: 20px;
}

.underline {
  text-decoration: underline;
}

#icon {
  transform: scale(5);
}

#personnel {
  background-image: url("https://cdn.drouot.com/d/image/lot?size=fullHD&path=1580/119391/705a6c0da58f2cd83f65e16dd6a008b7");
  justify-content: space-around;
}

#personnel ul {
  flex-direction: row;
  font-size: 1.3em;
  margin: 0px 20px;
  flex-wrap: wrap;
}

#personnel li {
  display: flex;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}

#photo-profil {
  width: 250px;
  height: 250px;
  border-radius: 500px;
  border: var(--separation-color) double 10px;
  overflow: hidden;
  margin: 1%;
  align-self: center;
}

#photo-profil img {
  height: 100%;
  width: 100%;
  transition: all ease 400ms;
}

#photo-profil img:hover {
  transition: all ease 400ms;
  animation: zoom-on-bear 10s;
}

@keyframes zoom-on-bear {
  100% {
    transform: scale(3) translate(-17px, 20px);
  }
}

#formation {
  background-image: url("https://www.artalistic.com/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/p/e/pe_ar.0222_049.jpg");
  justify-content: start;
}

#experience {
  background-image: url("https://master.salamandre.net/media/21606/la-riviere-et-ses-reflets-scintillants-1800x1016.jpg");
  justify-content: end;
}

#competences {
  background-image: url("https://media.istockphoto.com/id/1409046342/fr/vectoriel/coucher-de-soleil-sur-la-rivi%C3%A8re-peinture-%C3%A0-lhuile.jpg?s=612x612&w=0&k=20&c=wF399udr6vHtxyepREBYNUAMsRQWhlpStEofTiklhMI=");
  flex-direction: column;
}

.slideshow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 15px;
  margin: 2%;
  width: 65%;
  background-color: var(--section-background-color);
  align-self: center;
}

.slides > h2 {
  text-align: center;
}

.slides {
  display: none;
  width: 75%;
}

.prev,
.next {
  cursor: pointer;
  top: 25%;
  height: fit-content;
  padding: 10px;
  background-color: inherit;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px 10px 10px 10px;
  user-select: none;
  align-self: center;
}

.prev:hover,
.next:hover {
  background-color: var(--separation-color);
}

.dot-container {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15%;
  width: fit-content;
  background-color: var(--section-background-color);
  align-self: center;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--separation-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  section {
    flex-direction: column;
  }

  .container {
    color: rgb(0, 0, 0);
    background-color: var(--section-background-color);
    border-radius: 20px;
    padding: 15px;
    margin: 2%;
    width: 80%;
    height: fit-content;
    justify-self: center;
  }

  section:nth-of-type(n) .container {
    box-shadow: none;
  }

  #personnel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #personnel ul {
    flex-direction: column;
    font-size: 1.3em;
    margin: 0px 20px;
  }

  #photo-profil {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 125px;
    height: 125px;
    z-index: 10;
    top: 100px;
    right: 50px;
    position: absolute;
  }

  #personnel .container {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
