@font-face {
  font-family: 'PlaypenSans';
  src: url("../font/PlaypenSans.ttf");
}

:root {
  --primary-color: #dabcaf;
  --secondary-color: rgb(146, 2, 2);
  background-image: url("https://cdn.drouot.com/d/image/lot?size=fullHD&path=1580/119391/705a6c0da58f2cd83f65e16dd6a008b7");
}


* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'PlaypenSans';
  margin: 0;
  padding: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}
