@font-face {
  font-family: "PlaypenSans";
  src: url("../font/PlaypenSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PlaypenSans";
}

.tab-pane {
  height: 75vh;
}

.tab-pane .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tab-pane .text-img-container {
  height: auto;
  width: 20vh;
  overflow: hidden;
  border-radius: 25%;
}

.tab-pane .text-img {
  height: auto;
  width: 20vh;
}

.tab-pane .text-body {
  padding: 20px;
  width: 75%;
  margin: 0 auto;
}

.text-bold {
  font-weight: bold;
  color: #000;
}

.tab-pane .accordion {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}
