@font-face {
  font-family: "PlaypenSans";
  src: url("../font/PlaypenSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PlaypenSans";
  color: #fff;
  --bs-nav-tabs-link-active-bg: transparent;
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-link-color: #fff;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-icon: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' ><path%20fill-rule='evenodd' %20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z' /></svg>");
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #fff;
}

body {
  background-image: linear-gradient(75deg,
        hsl(228deg 38% 28%) 0%,
        hsl(229deg 37% 27%) 18%,
        hsl(230deg 38% 25%) 30%,
        hsl(231deg 38% 24%) 38%,
        hsl(232deg 39% 23%) 43%,
        hsl(233deg 39% 21%) 47%,
        hsl(235deg 39% 20%) 50%,
        hsl(235deg 40% 18%) 53%,
        hsl(236deg 40% 17%) 59%,
        hsl(238deg 39% 15%) 67%,
        hsl(238deg 41% 14%) 81%,
        hsl(240deg 41% 13%) 100%);
}

.tab-pane {
  height: 75vh;
}

.tab-pane .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tab-pane .text-img-container {
  height: auto;
  width: 20vh;
  overflow: hidden;
  border-radius: 25%;
}

.tab-pane .text-img {
  height: auto;
  width: 20vh;
}

.tab-pane p {
  padding: 20px;
  width: 75%;
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

.tab-pane .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tab-pane .accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.accordion-item {
  width: 100%;
  background-color: transparent;
}

.competence-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.competence {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  padding: 20px 0px 0px;
}

.img-fluid {
  width: 15vh;
  height: 15vh;
  margin: 0px 10px 0;
}
